HRPortal/Web References/LicencingPortal/LicencingPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="FnRegistration">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="firstname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="middlename" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tphoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tResidentialsAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tpostalAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tAlternativeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="twhatsappNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="twebsite" type="string" />
            <element minOccurs="1" maxOccurs="1" name="temailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegistration_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailaddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="originalpass" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newpass" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmpass" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="PortalResetPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailaddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="PortalResetPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLicenceApplicationHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="temail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tPhysicalLocation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tPhysicalAddressStatus" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tLicenseType" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tCustomerNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcertNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tdate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="headName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headcountry" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headform" type="int" />
            <element minOccurs="1" maxOccurs="1" name="headID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headPassport" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headDesignation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headTelephone" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headWhatsapp" type="string" />
            <element minOccurs="1" maxOccurs="1" name="headEmail" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLicenceApplicationHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertLocation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tPhysicalLocation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tpostcode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcounty" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcity" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertLocation_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgencyActivities">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tActivityCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgencyActivities_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgentFacilities">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tFacilityCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tquantity" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tFacilitycategory" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgentFacilities_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertGovernmentCompliance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tCertificateCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcertificateDescription" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcertificateNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateOfIssue" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateOfExpiry" type="date" />
            <element minOccurs="1" maxOccurs="1" name="authorityIssuingCertificate" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertGovernmentCompliance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffMember">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tstaffName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tGender" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tNationality" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tIdNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tworkPermit" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tExpiryDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="tGoodConduct" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tAcademic" type="string" />
            <element minOccurs="1" maxOccurs="1" name="terms" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffMember_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRecruitmentInst">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postcode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="physicalAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="physicalLocation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="city" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="temail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="accredStatus" type="int" />
            <element minOccurs="1" maxOccurs="1" name="accredBody" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRecruitmentInst_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tQuestionCategory" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tquestionCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tresponse" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertResponse_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDocumentsLinks">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="issueDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="expiryDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDocumentsLinks_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSubmitApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSubmitApplication_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveItem">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveItem_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveFacility">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveFacility_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveGovernance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveGovernance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveStaff">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveStaff_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveActivity">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveActivity_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveUniversity">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveUniversity_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="EditPhysicalLocation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tentryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tPhysicalLocation" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="EditPhysicalLocation_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="EditStaffProfile">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tentryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tNationality" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tIDno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tworkPermit" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tGoodConduct" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="EditStaffProfile_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="EditGovernanceCompliance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tentryNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="tAuth" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tCertNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tIssueDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="tExpiryDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="EditGovernanceCompliance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnConfirmPayment">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="paymentRef" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnConfirmPayment_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgentServices">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tapplicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tActivityCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tcomment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertAgentServices_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="FnRegistration">
    <part name="parameters" element="tns:FnRegistration" />
  </message>
  <message name="FnRegistration_Result">
    <part name="parameters" element="tns:FnRegistration_Result" />
  </message>
  <message name="FnResetPassword">
    <part name="parameters" element="tns:FnResetPassword" />
  </message>
  <message name="FnResetPassword_Result">
    <part name="parameters" element="tns:FnResetPassword_Result" />
  </message>
  <message name="PortalResetPassword">
    <part name="parameters" element="tns:PortalResetPassword" />
  </message>
  <message name="PortalResetPassword_Result">
    <part name="parameters" element="tns:PortalResetPassword_Result" />
  </message>
  <message name="FnLicenceApplicationHeader">
    <part name="parameters" element="tns:FnLicenceApplicationHeader" />
  </message>
  <message name="FnLicenceApplicationHeader_Result">
    <part name="parameters" element="tns:FnLicenceApplicationHeader_Result" />
  </message>
  <message name="FnInsertLocation">
    <part name="parameters" element="tns:FnInsertLocation" />
  </message>
  <message name="FnInsertLocation_Result">
    <part name="parameters" element="tns:FnInsertLocation_Result" />
  </message>
  <message name="FnInsertAgencyActivities">
    <part name="parameters" element="tns:FnInsertAgencyActivities" />
  </message>
  <message name="FnInsertAgencyActivities_Result">
    <part name="parameters" element="tns:FnInsertAgencyActivities_Result" />
  </message>
  <message name="FnInsertAgentFacilities">
    <part name="parameters" element="tns:FnInsertAgentFacilities" />
  </message>
  <message name="FnInsertAgentFacilities_Result">
    <part name="parameters" element="tns:FnInsertAgentFacilities_Result" />
  </message>
  <message name="FnInsertGovernmentCompliance">
    <part name="parameters" element="tns:FnInsertGovernmentCompliance" />
  </message>
  <message name="FnInsertGovernmentCompliance_Result">
    <part name="parameters" element="tns:FnInsertGovernmentCompliance_Result" />
  </message>
  <message name="FnInsertStaffMember">
    <part name="parameters" element="tns:FnInsertStaffMember" />
  </message>
  <message name="FnInsertStaffMember_Result">
    <part name="parameters" element="tns:FnInsertStaffMember_Result" />
  </message>
  <message name="FnInsertRecruitmentInst">
    <part name="parameters" element="tns:FnInsertRecruitmentInst" />
  </message>
  <message name="FnInsertRecruitmentInst_Result">
    <part name="parameters" element="tns:FnInsertRecruitmentInst_Result" />
  </message>
  <message name="FnInsertResponse">
    <part name="parameters" element="tns:FnInsertResponse" />
  </message>
  <message name="FnInsertResponse_Result">
    <part name="parameters" element="tns:FnInsertResponse_Result" />
  </message>
  <message name="FnAddDocumentsLinks">
    <part name="parameters" element="tns:FnAddDocumentsLinks" />
  </message>
  <message name="FnAddDocumentsLinks_Result">
    <part name="parameters" element="tns:FnAddDocumentsLinks_Result" />
  </message>
  <message name="FnSubmitApplication">
    <part name="parameters" element="tns:FnSubmitApplication" />
  </message>
  <message name="FnSubmitApplication_Result">
    <part name="parameters" element="tns:FnSubmitApplication_Result" />
  </message>
  <message name="RemoveItem">
    <part name="parameters" element="tns:RemoveItem" />
  </message>
  <message name="RemoveItem_Result">
    <part name="parameters" element="tns:RemoveItem_Result" />
  </message>
  <message name="RemoveFacility">
    <part name="parameters" element="tns:RemoveFacility" />
  </message>
  <message name="RemoveFacility_Result">
    <part name="parameters" element="tns:RemoveFacility_Result" />
  </message>
  <message name="RemoveGovernance">
    <part name="parameters" element="tns:RemoveGovernance" />
  </message>
  <message name="RemoveGovernance_Result">
    <part name="parameters" element="tns:RemoveGovernance_Result" />
  </message>
  <message name="RemoveStaff">
    <part name="parameters" element="tns:RemoveStaff" />
  </message>
  <message name="RemoveStaff_Result">
    <part name="parameters" element="tns:RemoveStaff_Result" />
  </message>
  <message name="RemoveActivity">
    <part name="parameters" element="tns:RemoveActivity" />
  </message>
  <message name="RemoveActivity_Result">
    <part name="parameters" element="tns:RemoveActivity_Result" />
  </message>
  <message name="RemoveUniversity">
    <part name="parameters" element="tns:RemoveUniversity" />
  </message>
  <message name="RemoveUniversity_Result">
    <part name="parameters" element="tns:RemoveUniversity_Result" />
  </message>
  <message name="EditPhysicalLocation">
    <part name="parameters" element="tns:EditPhysicalLocation" />
  </message>
  <message name="EditPhysicalLocation_Result">
    <part name="parameters" element="tns:EditPhysicalLocation_Result" />
  </message>
  <message name="EditStaffProfile">
    <part name="parameters" element="tns:EditStaffProfile" />
  </message>
  <message name="EditStaffProfile_Result">
    <part name="parameters" element="tns:EditStaffProfile_Result" />
  </message>
  <message name="EditGovernanceCompliance">
    <part name="parameters" element="tns:EditGovernanceCompliance" />
  </message>
  <message name="EditGovernanceCompliance_Result">
    <part name="parameters" element="tns:EditGovernanceCompliance_Result" />
  </message>
  <message name="FnConfirmPayment">
    <part name="parameters" element="tns:FnConfirmPayment" />
  </message>
  <message name="FnConfirmPayment_Result">
    <part name="parameters" element="tns:FnConfirmPayment_Result" />
  </message>
  <message name="FnInsertAgentServices">
    <part name="parameters" element="tns:FnInsertAgentServices" />
  </message>
  <message name="FnInsertAgentServices_Result">
    <part name="parameters" element="tns:FnInsertAgentServices_Result" />
  </message>
  <portType name="LicencingPortal_Port">
    <operation name="FnRegistration">
      <input name="FnRegistration" message="tns:FnRegistration" />
      <output name="FnRegistration_Result" message="tns:FnRegistration_Result" />
    </operation>
    <operation name="FnResetPassword">
      <input name="FnResetPassword" message="tns:FnResetPassword" />
      <output name="FnResetPassword_Result" message="tns:FnResetPassword_Result" />
    </operation>
    <operation name="PortalResetPassword">
      <input name="PortalResetPassword" message="tns:PortalResetPassword" />
      <output name="PortalResetPassword_Result" message="tns:PortalResetPassword_Result" />
    </operation>
    <operation name="FnLicenceApplicationHeader">
      <input name="FnLicenceApplicationHeader" message="tns:FnLicenceApplicationHeader" />
      <output name="FnLicenceApplicationHeader_Result" message="tns:FnLicenceApplicationHeader_Result" />
    </operation>
    <operation name="FnInsertLocation">
      <input name="FnInsertLocation" message="tns:FnInsertLocation" />
      <output name="FnInsertLocation_Result" message="tns:FnInsertLocation_Result" />
    </operation>
    <operation name="FnInsertAgencyActivities">
      <input name="FnInsertAgencyActivities" message="tns:FnInsertAgencyActivities" />
      <output name="FnInsertAgencyActivities_Result" message="tns:FnInsertAgencyActivities_Result" />
    </operation>
    <operation name="FnInsertAgentFacilities">
      <input name="FnInsertAgentFacilities" message="tns:FnInsertAgentFacilities" />
      <output name="FnInsertAgentFacilities_Result" message="tns:FnInsertAgentFacilities_Result" />
    </operation>
    <operation name="FnInsertGovernmentCompliance">
      <input name="FnInsertGovernmentCompliance" message="tns:FnInsertGovernmentCompliance" />
      <output name="FnInsertGovernmentCompliance_Result" message="tns:FnInsertGovernmentCompliance_Result" />
    </operation>
    <operation name="FnInsertStaffMember">
      <input name="FnInsertStaffMember" message="tns:FnInsertStaffMember" />
      <output name="FnInsertStaffMember_Result" message="tns:FnInsertStaffMember_Result" />
    </operation>
    <operation name="FnInsertRecruitmentInst">
      <input name="FnInsertRecruitmentInst" message="tns:FnInsertRecruitmentInst" />
      <output name="FnInsertRecruitmentInst_Result" message="tns:FnInsertRecruitmentInst_Result" />
    </operation>
    <operation name="FnInsertResponse">
      <input name="FnInsertResponse" message="tns:FnInsertResponse" />
      <output name="FnInsertResponse_Result" message="tns:FnInsertResponse_Result" />
    </operation>
    <operation name="FnAddDocumentsLinks">
      <input name="FnAddDocumentsLinks" message="tns:FnAddDocumentsLinks" />
      <output name="FnAddDocumentsLinks_Result" message="tns:FnAddDocumentsLinks_Result" />
    </operation>
    <operation name="FnSubmitApplication">
      <input name="FnSubmitApplication" message="tns:FnSubmitApplication" />
      <output name="FnSubmitApplication_Result" message="tns:FnSubmitApplication_Result" />
    </operation>
    <operation name="RemoveItem">
      <input name="RemoveItem" message="tns:RemoveItem" />
      <output name="RemoveItem_Result" message="tns:RemoveItem_Result" />
    </operation>
    <operation name="RemoveFacility">
      <input name="RemoveFacility" message="tns:RemoveFacility" />
      <output name="RemoveFacility_Result" message="tns:RemoveFacility_Result" />
    </operation>
    <operation name="RemoveGovernance">
      <input name="RemoveGovernance" message="tns:RemoveGovernance" />
      <output name="RemoveGovernance_Result" message="tns:RemoveGovernance_Result" />
    </operation>
    <operation name="RemoveStaff">
      <input name="RemoveStaff" message="tns:RemoveStaff" />
      <output name="RemoveStaff_Result" message="tns:RemoveStaff_Result" />
    </operation>
    <operation name="RemoveActivity">
      <input name="RemoveActivity" message="tns:RemoveActivity" />
      <output name="RemoveActivity_Result" message="tns:RemoveActivity_Result" />
    </operation>
    <operation name="RemoveUniversity">
      <input name="RemoveUniversity" message="tns:RemoveUniversity" />
      <output name="RemoveUniversity_Result" message="tns:RemoveUniversity_Result" />
    </operation>
    <operation name="EditPhysicalLocation">
      <input name="EditPhysicalLocation" message="tns:EditPhysicalLocation" />
      <output name="EditPhysicalLocation_Result" message="tns:EditPhysicalLocation_Result" />
    </operation>
    <operation name="EditStaffProfile">
      <input name="EditStaffProfile" message="tns:EditStaffProfile" />
      <output name="EditStaffProfile_Result" message="tns:EditStaffProfile_Result" />
    </operation>
    <operation name="EditGovernanceCompliance">
      <input name="EditGovernanceCompliance" message="tns:EditGovernanceCompliance" />
      <output name="EditGovernanceCompliance_Result" message="tns:EditGovernanceCompliance_Result" />
    </operation>
    <operation name="FnConfirmPayment">
      <input name="FnConfirmPayment" message="tns:FnConfirmPayment" />
      <output name="FnConfirmPayment_Result" message="tns:FnConfirmPayment_Result" />
    </operation>
    <operation name="FnInsertAgentServices">
      <input name="FnInsertAgentServices" message="tns:FnInsertAgentServices" />
      <output name="FnInsertAgentServices_Result" message="tns:FnInsertAgentServices_Result" />
    </operation>
  </portType>
  <binding name="LicencingPortal_Binding" type="tns:LicencingPortal_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="FnRegistration">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnRegistration" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnRegistration">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnRegistration_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnResetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnResetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnResetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnResetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PortalResetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:PortalResetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PortalResetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PortalResetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLicenceApplicationHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnLicenceApplicationHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLicenceApplicationHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLicenceApplicationHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertLocation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertLocation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertLocation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertLocation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertAgencyActivities">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertAgencyActivities" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertAgencyActivities">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertAgencyActivities_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertAgentFacilities">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertAgentFacilities" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertAgentFacilities">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertAgentFacilities_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertGovernmentCompliance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertGovernmentCompliance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertGovernmentCompliance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertGovernmentCompliance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertStaffMember">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertStaffMember" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertStaffMember">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertStaffMember_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertRecruitmentInst">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertRecruitmentInst" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertRecruitmentInst">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertRecruitmentInst_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertResponse">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertResponse" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertResponse">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertResponse_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAddDocumentsLinks">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnAddDocumentsLinks" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAddDocumentsLinks">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAddDocumentsLinks_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnSubmitApplication">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnSubmitApplication" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnSubmitApplication">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnSubmitApplication_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveItem">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveItem" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveItem">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveItem_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveFacility">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveFacility" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveFacility">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveFacility_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveGovernance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveGovernance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveGovernance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveGovernance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveStaff">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveStaff" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveStaff">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveStaff_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveActivity">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveActivity" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveActivity">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveActivity_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RemoveUniversity">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:RemoveUniversity" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RemoveUniversity">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RemoveUniversity_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="EditPhysicalLocation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:EditPhysicalLocation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="EditPhysicalLocation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="EditPhysicalLocation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="EditStaffProfile">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:EditStaffProfile" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="EditStaffProfile">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="EditStaffProfile_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="EditGovernanceCompliance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:EditGovernanceCompliance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="EditGovernanceCompliance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="EditGovernanceCompliance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnConfirmPayment">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnConfirmPayment" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnConfirmPayment">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnConfirmPayment_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertAgentServices">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/LicencingPortal:FnInsertAgentServices" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertAgentServices">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertAgentServices_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="LicencingPortal">
    <port name="LicencingPortal_Port" binding="tns:LicencingPortal_Binding">
      <address location="http://41.89.47.16:9082/CUE/WS/CUEL/Codeunit/LicencingPortal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>